<h2>Edit idea</h2>

<%= render "form.html", changeset: @changeset,
                        conn: @conn,
                        action: idea_path(@conn, :update, @idea) %>

<%= link "Back", to: idea_path(@conn, :index) %>
<%= link "Delete", to: idea_path(@conn, :delete, @idea), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
<%= link "Mark Complete", to: idea_path(@conn, :mark_complete, @idea), method: :put, data: [confirm: "Are you sure?"], class: "btn btn-xs btn-info" %>
