<h2>
  <%= @idea.name %>
</h2>

<div>
  <%= @idea.description %>
</div>
</br>

<div>
  <strong>Submitted By: </strong>
  <%= @idea.user.name %>
</div>

<%# If there are any interested users, display them here  %>
<%# Any comments here %>

<div>
<%= if logged_in?(@conn) && can_edit_idea(@idea, current_user(@conn).id) do %>
  <%= link "Edit", to: idea_path(@conn, :edit, @idea) %>
<% end %>
<%= link "Back", to: idea_path(@conn, :index) %>
</div>
